html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body {
	background-image: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1200);
	background-size: cover;	
	background-repeat: no-repeat;
	color: #0b0000;
	font-family: 'Just Me Again Down Here', cursive;
}
/* Masthead */
.masthead {
	background-color: #d7bf47;
	opacity: 0.9;
	border-bottom: 4px solid #d89d5c;
}
.title {
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
.title li {
	display: inline-block;
	list-style: none;
}
.masthead p {
	font-size: 3em;
	font-family: 'Patrick Hand SC', cursive;
	margin: 0 auto;
}
.masthead .quote p {
	font-size: 2em;
	text-align: center;
	padding-bottom: 5px;
	margin: 0 auto;
	font-family: 'Just Me Again Down Here', cursive;
}
.fa-cutlery {
	font-size: 2em;
	padding: 0 3em;
}

/* Body */
.input {
	width: 33%;
	background-color: #a74511;
	opacity: 0.9;
	margin: 0 auto;
}
.input p {
	font-size: 2em;
	text-align: center;
	color: #0b0000;
	padding: 0 1em;
	margin-top: 3em;
	margin-bottom: 12px;
}
/* Fields */
.input .enter, .input .add {
	display: inline-block;
	background-color: #561B04;
}
.input .enter {
	height: 50px;
	width: 100px;
	margin-left: 15%;
}
.input .add {
	height: 25px;
	width: 100px;
	margin-left: 15%;
	margin-bottom: 10px;
}
/* The List */
.content .list {
	width: 33%;
	background-color: #a74511;
	opacity: 0.9;
	margin: 0 auto;
}
.list p {
	font-size: 2em;
	text-align: center;
	color: #0b0000;
	padding: 0 1em;
	margin-top: 2em;
	margin-bottom: 0;
}
.list ul {
	margin-top: 0;
}
.list li {
	font-size: 1.5em;
	color: #0b0000;
}
.list .list-complete {
	margin: 0 auto;
	height: 50px;
	width: 100px;
	background-color: #561B04;
}
/* Footer */
.footer {
	background-color: #d7bf47;
	opacity: 0.9;
	border-top: 4px solid #d89d5c;
	text-align: center;
	font-size: 2em;
	margin-top: 3em;
	padding: 0.5em 0.5em;
}
.footer p {
	margin: 0 auto;
	padding: 10px 0;
}
.footer a {
	text-decoration: none;
	color: #0b0000;
}
a:hover {
	color: #d89d5c
}
a:visited {
	color: #d89d5c
}
/* Media Queries */
@media only screen and (max-width: 1135px) {
	.fa-cutlery {
		font-size: 2em;
		padding: 0 1.5em;
	}
}
@media only screen and (max-width: 940px) {
	.fa-cutlery {
		font-size: 2em;
		padding: 0 2em;
	}
	.masthead p {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 890px) {
	.fa-cutlery {
		font-size: 1.5em;
		padding: 0 2em;
	}
	.masthead p {
		font-size: 2.5em;
	}
	.masthead .quote p, .input p, .list p, .footer p {
		font-size: 1em;
	}
}
@media only screen and (max-width: 815px) {
	.fa-cutlery {
		font-size: 1em;
		padding: 0 2em;
	}
	.masthead p {
		font-size: 2em;
	}
	.masthead .quote p, .input p, .list p, .footer p {
		font-size: 1em;
	}
}
@media only screen and (max-width: 630px) {
	.fa-cutlery {
		font-size: 0.75em;
		padding: 0 1em;
	}
	.masthead p {
		font-size: 1.25em;
	}
	.masthead .quote p, .input p, .list p, .footer p {
		font-size: 0.5em;
	}
}