html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body {
	background-image: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1200);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #0b0000;
	font-family: 'Just Me Again Down Here', cursive;
}
/* Masthead */
.masthead {
	background-color: #d7bf47;
	opacity: 0.9;
	border-bottom: 2px solid #d89d5c;
	width: 100%;
}
.title {
	text-align: center;
	padding: 0;
	margin: 0 auto;
}
.title li {
	display: inline-block;
	list-style: none;
}
.masthead p {
	font-size: 3em;
	font-family: 'Patrick Hand SC', cursive;
	margin: 0 auto;
}
.masthead .quote p {
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	font-family: 'Just Me Again Down Here', cursive;
}
.fa-cutlery {
	font-size: 2em;
	padding: 0 3em;
}

/* Body */
.input {
	width: 33%;
	background-color: #a74511;
	opacity: 0.9;
	margin: 0 auto;
	border-bottom: 2px solid #d89d5c;
}
.input p {
	font-size: 2em;
	text-align: center;
	color: #0b0000;
	padding: 0 5px;
}
/* Text Input, Add Button, Checkbox */
input {
	background-color: #d89d5c;
	height: 1em;
    margin: 0 auto;
}
#text {
	 display: block;
}
.add {
	background-color: #d89d5c;
	height: 2em;
	width: 4em;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
}
/* The List */
.content .shopping-list {
	width: 33%;
	background-color: #a74511;
	opacity: 0.9;
	margin: 0 auto;
}
.shopping-list p {
	font-size: 2em;
	text-align: center;
	color: #0b0000;
	padding: 0 1em;
	margin: 0 auto;
}
.list ul {
	margin-top: 0;
	float: left;
}
.list li {
	font-size: 1.5em;
	color: #0b0000;
	list-style-type: none;
}
.list-complete {
	background-color: #d89d5c;
	height: 2em;
	width: 4em;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
}
.list li button {
	background-color: #d89d5c;
	font-size: 0.5em;
}
.unsplash {
   	padding: 0 15px;
    font-size: 1.5em;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7)
}
.unsplash a, .unsplash p {
	text-decoration: none;
	color: #0b0000;
}
a:hover {
	color: #d89d5c;
}
.item {
	color: #d89d5c;
}
/* Media Queries */
@media only screen and (max-width: 1135px) {
 	.fa-cutlery {
 		padding: 0 25px;
 	}
 }
@media only screen and (max-width: 835px) {
 	.masthead p {
		font-size: 2em;
 	}
 	.masthead .quote p, .input p, .shopping-list p {
 		font-size: 1.33em;
 	}
 	.fa-cutlery {
 		padding: 0 10px;
 	}
 	input {
 		display: block;
 	}
 	.unsplash {
	padding: 0 10px;
    font-size: 1em;
	}
 }
 @media only screen and (max-width: 700px) {
 	.input, .content .shopping-list {
 		width: 60%;
 	}
 	.list li {
 		font-size: 1em;
 	}
 	.unsplash {
		padding: 0 5px;
    	font-size: 10px;
	}
 }
 @media only screen and (max-width: 570px) {
 	.masthead .quote p {
 		font-size: 1em;
 		margin-bottom: 10px;
 	}
 	.fa-cutlery {
 		display: none;
 		font-size: 0em;
 	}
 	.add, .list-complete {
 		font-size: 1em;
 	}
	.title ul {
		padding: 0;
	}
	input {
 		height: 1em;
 		width: 3em;
 	}
}
